.content {
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.queryForm {
    display: flex;
    flex-direction: column;
}
.container h1, .container h2 {
    padding: 2rem;
    color: 163144;
}
.container h1 {
    font-size: 3.5rem;
    font-weight: bolder;
}
.container h2 {
    font-size: 2.5rem;
    font-weight: bolder;
    padding-left: 1rem;
}

.formSignIn {
    position: relative;
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: #fff;
    text-decoration: none;
    transition: color 0.15s ease, border-color 0.15s ease;
  }
  .faveButton {
    margin-top: 1.5rem;
	background:linear-gradient(to bottom, #163144 5%, #163144 100%);
	background-color:#163144;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
}
.faveButton:hover {
	background:linear-gradient(to bottom, #163144 5%, #163144 100%);
	background-color:#163144;
}
.faveButton:active {
	position:relative;
	top:1px;
}
.faveInput {
    margin-top: 1.5rem;
}
