.content {
    display: flex; 
    flex-direction: column;
}

.queryForm {
    /* display: flex; */
    /* flex-direction: column; */
}
.formSignIn {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: #fff;
    text-decoration: none;
    /* border: 1px solid #eaeaea; */
    /* border-radius: 10px; */
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 600px;
  }